In [2]:
%pip install gdown

#import relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob
import re
import datetime
import warnings
import dtale
import sweetviz as sv
import gdown
import zipfile
import glob

warnings.filterwarnings('ignore')

Requirement already satisfied: gdown in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (4.7.1)
Requirement already satisfied: filelock in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gdown) (2.31.0)
Requirement already satisfied: six in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gdown) (4.66.1)
Requirement already satisfied: beautifulsoup4 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gdown) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests[socks]->gdown) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests[socks]->gdown) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests[socks]->gdown) (2023.7.22)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from tqdm->gdown) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\DONKAMS\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

#### Due to the large size of the data, we will be importing from a the Eonflux folder in the drive

In [ ]:
# The base Google Drive link
base_link = 'https://drive.google.com/uc?id='

# The file ids from the shareable links
file_ids = ['1mOTTkRpx4W96D8zyTSqshpz46RRGDwiP', 
            '12Z6UcKk2vJJ2SrjldkHCpv41WR7XwEdI', 
            '1oo231pvNcbMz_biJB7V499H2Wt6FiGll', 
            '1MN7LitDc_AnPtPYpDLLVH5yqg357iFcg', 
            '1u1uzTFu3Z2PGkGwaDO5y5mj99YYdsm51']  # Replace with your file ids

# Create a dictionary to hold the dataframes
dfs = {}

# Loop over the list of file ids
for file_id in file_ids:
    # Combine the base link and file id
    file_link = base_link + file_id

    # Download the file
    output_file = f'{file_id}.csv'
    gdown.download(file_link, output_file, quiet=False)
    
    # Read the file into a DataFrame
    df = pd.read_csv(output_file)
    
    # Store the DataFrame in the dictionary
    dfs[file_id] = df

#### P.S above process might take longer thaN expected to load, to counter this, the required dataset for analysis can be downloaded (in zip format) locally on your PC using the available link: https://drive.google.com/file/d/1J0gT1J1cb1Rs51h7StMNg0sjxKp36v6X/view?usp=drive_link

#### OR

#### Care to download each dataset individually
#### geospace_data = https://drive.google.com/file/d/1mOTTkRpx4W96D8zyTSqshpz46RRGDwiP/view?usp=drive_link
#### Temp_range    = https://drive.google.com/file/d/12Z6UcKk2vJJ2SrjldkHCpv41WR7XwEdI/view?usp=drive_link
#### Temp_Min = https://drive.google.com/file/d/1oo231pvNcbMz_biJB7V499H2Wt6FiGll/view?usp=drive_link
#### Temp_Max = https://drive.google.com/file/d/1MN7LitDc_AnPtPYpDLLVH5yqg357iFcg/view?usp=drive_link
#### Temp_avg = https://drive.google.com/file/d/1u1uzTFu3Z2PGkGwaDO5y5mj99YYdsm51/view?usp=drive_link

In [4]:
#I wil be loading my dataset locally from here now
#load all files in the df.analysis folder as a seperate dataframe
path = 'C:/Users/DONKAMS/Downloads/Eonflux_Capstone_Project_HDSC_FALL_23/df_analysis' # use your path
all_files = glob.glob(path + "/*.csv")
#read each file in the df.analysis folder as a seperate dataframe that wil take the name of the file as the dataframe name
for filename in all_files:
    name = re.findall(r"df_analysis\\(.*).csv", filename)[0]
    vars()[name] = pd.read_csv(filename)
    print(name)

df_date_station_Temp_Avg
df_date_station_Temp_Max
df_date_station_Temp_Min
df_date_station_Temp_range
df_geo_space

In [5]:
df_date_station_Temp_Avg.head()

,datetime,SU000062600,SU000062640,SU000062641,SU000062650,SU000062721,SU000062730,SU000062752,SU000062760,SU000062762,...,EGE00147732,EGM00062305,EGM00062318,EGM00062337,EGM00062378,EGM00062387,EGM00062403,EGM00062423,EGM00062435,EGM00062476
0,1999-01-01,16.310,22.525,25.730,21.670,26.035,26.775,25.07,21.745,27.675,...,15.79,11.795,16.000,16.020,15.61,14.585,15.005,12.770,13.695,21.810
1,1999-01-02,15.600,20.980,25.225,19.890,25.275,26.710,25.31,21.720,27.935,...,15.55,12.840,16.205,16.270,15.48,14.715,18.120,13.750,16.065,22.405
2,1999-01-03,18.625,22.310,26.230,20.680,24.925,26.580,25.52,21.605,27.350,...,16.08,13.330,16.625,15.320,15.02,13.800,18.710,14.485,17.105,23.390
3,1999-01-04,19.960,24.020,26.340,21.815,25.295,27.390,26.13,21.625,27.300,...,14.09,11.920,15.580,15.375,13.78,12.840,18.755,12.995,16.285,23.640
4,1999-01-05,17.245,23.655,27.170,20.615,24.855,27.500,26.43,21.210,27.670,...,13.98,12.185,13.755,14.850,13.18,12.545,15.305,12.260,13.260,24.870

In [6]:
df_date_station_Temp_Max.head()

,datetime,SU000062600,SU000062640,SU000062641,SU000062650,SU000062721,SU000062730,SU000062752,SU000062760,SU000062762,...,EGE00147732,EGM00062305,EGM00062318,EGM00062337,EGM00062378,EGM00062387,EGM00062403,EGM00062423,EGM00062435,EGM00062476
0,1999-01-01,23.33,29.89,27.07,29.91,33.67,35.12,30.01,30.19,34.66,...,19.60,14.87,19.21,18.50,20.75,21.06,23.29,19.38,20.08,25.52
1,1999-01-02,23.97,29.33,26.40,28.45,32.92,34.91,30.42,30.48,35.06,...,21.04,17.93,20.64,20.65,21.58,20.48,26.44,20.12,23.71,26.96
2,1999-01-03,26.18,30.32,27.51,30.28,33.42,35.03,30.20,30.60,34.03,...,22.81,18.88,22.23,21.18,21.74,19.30,26.94,19.88,24.36,26.69
3,1999-01-04,27.69,31.33,27.71,30.44,33.92,36.69,30.73,30.92,34.97,...,20.33,16.44,20.42,20.36,20.30,16.75,26.28,18.10,23.12,27.74
4,1999-01-05,23.12,31.25,28.47,27.33,33.26,36.79,31.09,29.78,35.14,...,18.90,16.60,18.65,17.80,18.79,18.43,21.48,17.80,19.04,28.66

In [7]:
df_date_station_Temp_Min.head()

,datetime,SU000062600,SU000062640,SU000062641,SU000062650,SU000062721,SU000062730,SU000062752,SU000062760,SU000062762,...,EGE00147732,EGM00062305,EGM00062318,EGM00062337,EGM00062378,EGM00062387,EGM00062403,EGM00062423,EGM00062435,EGM00062476
0,1999-01-01,9.29,15.16,24.39,13.43,18.40,18.43,20.13,13.30,20.69,...,11.98,8.72,12.79,13.54,10.47,8.11,6.72,6.16,7.31,18.10
1,1999-01-02,7.23,12.63,24.05,11.33,17.63,18.51,20.20,12.96,20.81,...,10.06,7.75,11.77,11.89,9.38,8.95,9.80,7.38,8.42,17.85
2,1999-01-03,11.07,14.30,24.95,11.08,16.43,18.13,20.84,12.61,20.67,...,9.35,7.78,11.02,9.46,8.30,8.30,10.48,9.09,9.85,20.09
3,1999-01-04,12.23,16.71,24.97,13.19,16.67,18.09,21.53,12.33,19.63,...,7.85,7.40,10.74,10.39,7.26,8.93,11.23,7.89,9.45,19.54
4,1999-01-05,11.37,16.06,25.87,13.90,16.45,18.21,21.77,12.64,20.20,...,9.06,7.77,8.86,11.90,7.57,6.66,9.13,6.72,7.48,21.08

In [8]:
df_date_station_Temp_range.head()

,datetime,SU000062600,SU000062640,SU000062641,SU000062650,SU000062721,SU000062730,SU000062752,SU000062760,SU000062762,...,EGE00147732,EGM00062305,EGM00062318,EGM00062337,EGM00062378,EGM00062387,EGM00062403,EGM00062423,EGM00062435,EGM00062476
0,1999-01-01,14.04,14.73,2.68,16.48,15.27,16.69,9.88,16.89,13.97,...,7.62,6.15,6.42,4.96,10.28,12.95,16.57,13.22,12.77,7.42
1,1999-01-02,16.74,16.70,2.35,17.12,15.29,16.40,10.22,17.52,14.25,...,10.98,10.18,8.87,8.76,12.20,11.53,16.64,12.74,15.29,9.11
2,1999-01-03,15.11,16.02,2.56,19.20,16.99,16.90,9.36,17.99,13.36,...,13.46,11.10,11.21,11.72,13.44,11.00,16.46,10.79,14.51,6.60
3,1999-01-04,15.46,14.62,2.74,17.25,17.25,18.60,9.20,18.59,15.34,...,12.48,9.04,9.68,9.97,13.04,7.82,15.05,10.21,13.67,8.20
4,1999-01-05,11.75,15.19,2.60,13.43,16.81,18.58,9.32,17.14,14.94,...,9.84,8.83,9.79,5.90,11.22,11.77,12.35,11.08,11.56,7.58

In [9]:
df_geo_space.head()

,station,latitude,longitude,elevation,Temp_mean_min,Temp_mean_max,Temp_mean_avg,Temp_mean_range
0,SU000062600,21.820,31.350,190.0,18.154073,33.736203,25.945138,15.582130
1,SU000062640,19.533,33.317,312.0,20.698164,36.853903,28.776034,16.155739
2,SU000062641,19.583,37.217,42.0,27.370324,31.012630,29.191477,3.642305
3,SU000062650,19.167,30.483,226.0,20.289875,37.042861,28.666368,16.752986
4,SU000062721,15.600,32.549,380.0,21.724764,37.581370,29.653067,15.856606